body {
  text-align: center;
  font-family: Arial;
  background: #fdf6f9;
}

h1 {
  color: #c94c4c;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}